
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.media-n2V {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-8uus-6os {
    background-size: 100% 180.564%;
    background-position: -0.4516rem -40.6349rem;
    background-image: url('REPLACE_IMAGE:4b74228eab0eda62572ba38573215b2b0745f790');
    box-sizing: border-box;
    padding-right: 10.3rem;
    height: 63.8rem;
    align-items: flex-start;
    background-color: #d9d9d9;
    flex-shrink: 0;
    width: 100%;
    display: flex;

    .auto-group-5aqo-R5T {
      margin-right: 19.25rem;
      width: 116.65rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-18789-x5P {
        width: 109.3rem;
        height: 63.8rem;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(269.18deg, rgba(0, 0, 0, 0.6000000238) 97.71%, rgba(0, 0, 0, 0) 204.55%);
      }
      .rectangle-18790-SmF {
        width: 109.3rem;
        height: 63.8rem;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(269.18deg, rgba(0, 0, 0, 0) 97.71%, rgba(0, 0, 0, 0) 204.55%);
      }
      .frame-14595-Z5B {
        column-gap: 3rem;
        align-items: center;
        width: 48.7rem;
        height: 3rem;
        position: absolute;
        left: 24.05rem;
        top: 4.6rem;
        display: flex;

        .home-53X {
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          line-height: 1.6666666667;
        }
        .about-us-Aqf {
          justify-content: center;
          line-height: 1.6666666667;
          color: #ffffff;
          flex-shrink: 0;
          align-items: center;
          font-size: 1.8rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
        }
        .contact-us-6DX {
          white-space: nowrap;
          flex-shrink: 0;
          justify-content: center;
          font-size: 1.8rem;
          line-height: 1.6666666667;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          align-items: center;
          font-weight: 400;
        }
        .services-RWh {
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          line-height: 1.6666666667;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          color: #ffffff;
        }
        .media-Z77 {
          white-space: nowrap;
          display: flex;
          font-weight: 500;
          line-height: 1.6666666667;
          color: #f26440;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
        }
      }
      .blueribbion-removebg-preview-2-VFf {
        background-image: url('REPLACE_IMAGE:1714e20692eedcf9c1dabb6ac231785b455d3d50');
        width: 9.2rem;
        height: 5.2434rem;
        position: relative;
        left: 10.3rem;
        top: 3.4rem;
        background-size: 207.692% 257.669%;
        background-position: -4.793rem -4.1818rem;
      }
      .button-Mof {
        left: 10rem;
        color: #ffffff;
        justify-content: center;
        font-size: 2rem;
        line-height: 1.5;
        width: 15.3rem;
        height: 4.5rem;
        position: absolute;
        display: flex;
        border: solid 0.2rem #ffffff;
        top: 56.3rem;
        align-items: center;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
      }
      .button-2Q1 {
        justify-content: center;
        color: #ffffff;
        position: absolute;
        align-items: center;
        font-size: 2rem;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        left: 28rem;
        height: 4.5rem;
        top: 56.3rem;
        display: flex;
        border: solid 0.2rem #ffffff;
        box-sizing: border-box;
        width: 18.4rem;
        line-height: 1.5;
      }
      .group-14735-KP7 {
        width: 60.5rem;
        height: 14.6rem;
        position: absolute;
        left: 56.15rem;
        top: 22.1rem;

        .blue-ribbon-events-rP3 {
          font-weight: 600;
          left: 0;
          align-items: baseline;
          font-size: 6.4rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          width: 60.5rem;
          display: flex;
          justify-content: center;
          height: 9.6rem;
          top: 0;
          white-space: nowrap;
          position: absolute;
          color: #ffffff;

          .blue-ribbon-events-rP3-sub-0 {
            line-height: 1.5;
            color: #f26440;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 6.4rem;
            font-weight: 600;
          }
          .blue-ribbon-events-rP3-sub-1 {
          }
        }
        .media-woo {
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          line-height: 1.5;
          color: #ffffff;
          font-weight: 500;
          position: absolute;
          left: 24.65rem;
          font-size: 3.6rem;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
          width: 11.3rem;
          height: 5.4rem;
          top: 9.2rem;
        }
      }
    }
    .button-F3o {
      font-weight: 600;
      white-space: nowrap;
      box-sizing: border-box;
      margin-top: 2.6rem;
      justify-content: center;
      font-family: Poppins, 'Source Sans Pro';
      width: 27.5rem;
      align-items: center;
      line-height: 1.5;
      height: 6rem;
      font-size: 2.4rem;
      color: #ffffff;
      border: solid 0.2rem #ffffff;
      flex-shrink: 0;
      display: flex;
    }
    .auto-group-8uus-6os-bg {
      width: 173.7rem;
      height: 63.8rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:4b74228eab0eda62572ba38573215b2b0745f790');
    }
  }
  .auto-group-rutr-RsP {
    box-sizing: border-box;
    padding: 4.8rem 0rem 7.4rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-lqnm-kPs {
      width: calc(100% - 144.2rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 134.2rem 2rem 10rem;

      .line-16-Uam {
        flex-shrink: 0;
        margin: 0rem 0.7rem 0.1rem 0rem;
        width: 12.1rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .media-Cmf {
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 5rem;
      }
    }
    .frame-14777-Lss {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 142rem 3.8rem 10rem;
      width: calc(100% - 152rem);
      height: 4rem;

      .gallery-54m {
        margin-right: 4rem;
        font-size: 2.4rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-weight: 400;
        line-height: 1.6666666667;
        color: #c1c1c1;
      }
      .group-14776-c4h {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .videos-kwb {
          flex-shrink: 0;
          display: flex;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.6666666667;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .line-17-6Em {
          width: 7.9rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2rem;
        }
      }
    }
    .group-14766-DaH {
      background-color: #faf8f4;
      flex-shrink: 0;
      margin-bottom: 4.6rem;
      box-sizing: border-box;
      padding: 2.2rem 11.3rem 2.3rem 11.4rem;
      width: 172.7rem;
      height: 8.1rem;

      .frame-14767-jYd {
        display: flex;
        column-gap: 6rem;
        align-items: center;
        width: 100%;
        height: 100%;

        .all-gTs {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          font-size: 2.4rem;
          line-height: 1.5;
          color: #f26440;
          flex-shrink: 0;
        }
        .event-production-cMX {
          align-items: center;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 2.4rem;
          line-height: 1.5;
          color: #000000;
        }
        .corporate-event-LYR {
          justify-content: center;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;
        }
        .conference-4UR {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;
          align-items: center;
        }
        .product-launch-Cad {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-weight: 400;
          align-items: center;
          font-size: 2.4rem;
          line-height: 1.5;
        }
        .communication-vmX {
          align-items: center;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 2.4rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
        }
        .board-meetings-U2M {
          display: flex;
          justify-content: center;
          font-size: 2.4rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;
        }
      }
    }
    .frame-14785-zWV {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 10rem 8.1rem 10rem;
      width: calc(100% - 20rem);
      height: 74.1rem;
      display: flex;
      column-gap: 2rem;

      .auto-group-8kdf-hvh {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 36.7rem;
        height: 100%;

        .group-14767-3jf {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 6.5rem;

          .auto-group-srqb-zuo {
            background-position: center;
            background-color: #d9d9d9;
            background-repeat: no-repeat;
            padding: 10.5rem 14.4rem 10.414rem 14.5rem;
            width: 100%;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:eab6e62830543343a245e14c5bf5153d6fabf359');
            border-radius: 0.1rem;
            flex-shrink: 0;
            margin-bottom: 1.4859rem;
            box-sizing: border-box;

            .group-14604-7jX {
              height: 7.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              width: 7.8rem;
            }
          }
          .auto-group-mnrf-QTj {
            position: relative;
            flex-shrink: 0;
            width: 20.7rem;
            height: 3.6rem;

            .corporate-events-Ypq {
              height: 3.6rem;
              left: 0;
              top: 0;
              font-size: 2.4rem;
              font-weight: 500;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              align-items: baseline;
              width: 20.7rem;
              position: absolute;
              display: flex;
              line-height: 1.5;
              color: #000000;

              .corporate-events-Ypq-sub-0 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.5;
                color: #f26440;
              }
              .corporate-events-Ypq-sub-1 {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .corporate-events-fHB {
              font-family: Poppins, 'Source Sans Pro';
              top: 0;
              font-size: 2.4rem;
              line-height: 1.5;
              color: #000000;
              display: flex;
              font-weight: 500;
              white-space: nowrap;
              align-items: baseline;
              width: 20.7rem;
              height: 3.6rem;
              position: absolute;
              left: 0;

              .corporate-events-fHB-sub-0 {
                font-weight: 500;
                line-height: 1.5;
                color: #f26440;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 2.4rem;
              }
              .corporate-events-fHB-sub-1 {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
        .group-14767-CwK {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-ttnh-AdF {
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 1.4859rem;
            box-sizing: border-box;
            padding: 10.5rem 14.4rem 10.414rem 14.5rem;
            width: 100%;
            background-color: #d9d9d9;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:eab6e62830543343a245e14c5bf5153d6fabf359');
            border-radius: 0.1rem;
            flex-shrink: 0;

            .group-14771-VQd {
              height: 7.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              width: 7.8rem;
            }
          }
          .events-production-PF7 {
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            align-items: baseline;
            display: flex;
            font-size: 2.4rem;
            flex-shrink: 0;

            .events-production-PF7-sub-0 {
            }
            .events-production-PF7-sub-1 {
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #f26440;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
      }
      .auto-group-qqhx-kzm {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 36.7rem;

        .group-14778-hv1 {
          margin-bottom: 6.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-o8nd-GCR {
            flex-shrink: 0;
            margin-bottom: 1.486rem;
            width: 100%;
            background-color: #d9d9d9;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 0.1rem;
            box-sizing: border-box;
            padding: 10.5rem 14.4rem 10.414rem 14.5rem;
            background-position: center;
            background-image: url('REPLACE_IMAGE:e73969ee51035245f4e9469ce89b7e2e508b8999');

            .group-14768-zu7 {
              object-fit: contain;
              vertical-align: top;
              width: 7.8rem;
              height: 7.8rem;
              position: relative;
            }
          }
          .conference-events-tDo {
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2.4rem;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            align-items: baseline;

            .conference-events-tDo-sub-0 {
              font-weight: 500;
              line-height: 1.5;
              color: #f26440;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 2.4rem;
            }
            .conference-events-tDo-sub-1 {
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
        .group-14767-qHT {
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .auto-group-t2yo-PZs {
            margin-bottom: 1.4859rem;
            padding: 10.5rem 14.4rem 10.414rem 14.5rem;
            width: 100%;
            background-position: center;
            border-radius: 0.1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            background-color: #d9d9d9;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:eab6e62830543343a245e14c5bf5153d6fabf359');

            .group-14772-7Vs {
              width: 7.8rem;
              height: 7.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .board-meetings-p9P {
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            font-weight: 500;
            font-size: 2.4rem;
            color: #000000;
            white-space: nowrap;
            align-items: baseline;
            flex-shrink: 0;
            display: flex;

            .board-meetings-p9P-sub-0 {
            }
            .board-meetings-p9P-sub-1 {
              color: #f26440;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
        }
      }
      .auto-group-zaed-Rey {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 36.7rem;
        height: 100%;
        align-items: center;

        .group-14779-Nq7 {
          margin-bottom: 6.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-wh4m-8pH {
            margin-bottom: 1.486rem;
            padding: 10.5rem 14.4rem 10.414rem 14.5rem;
            width: 100%;
            background-repeat: no-repeat;
            border-radius: 0.1rem;
            box-sizing: border-box;
            background-color: #d9d9d9;
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:23de604db411f772a3b4408c47ab1e0944dd73c7');
            flex-shrink: 0;

            .group-14769-4hw {
              width: 7.8rem;
              height: 7.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .product-launch-awB {
            font-family: Poppins, 'Source Sans Pro';
            align-items: baseline;
            display: flex;
            font-size: 2.4rem;
            font-weight: 500;
            color: #f26440;
            line-height: 1.5;
            white-space: nowrap;
            flex-shrink: 0;

            .product-launch-awB-sub-0 {
            }
            .product-launch-awB-sub-1 {
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
        .group-14767-zED {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-obvr-YmX {
            margin-bottom: 1.4859rem;
            box-sizing: border-box;
            background-color: #d9d9d9;
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0;
            padding: 10.5rem 14.4rem 10.414rem 14.5rem;
            width: 100%;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:eab6e62830543343a245e14c5bf5153d6fabf359');
            border-radius: 0.1rem;

            .group-14773-sJ1 {
              width: 7.8rem;
              height: 7.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .events-NkZ {
            display: flex;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-nk2d-X7f {
        width: 36.7rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-14780-4tH {
          margin-bottom: 6.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-jrrm-pcZ {
            width: 100%;
            background-repeat: no-repeat;
            border-radius: 0.1rem;
            box-sizing: border-box;
            padding: 10.5rem 14.4rem 10.414rem 14.5rem;
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:cf1cee6678691935f89b87b99c6e3f9364cda2fb');
            flex-shrink: 0;
            margin-bottom: 1.486rem;
            background-color: #d9d9d9;

            .group-14770-Z4M {
              width: 7.8rem;
              height: 7.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .communication-4Wu {
            line-height: 1.5;
            color: #f26440;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2.4rem;
            font-weight: 500;
          }
        }
        .group-14767-QKs {
          flex-shrink: 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          .auto-group-sx8h-mAR {
            margin-bottom: 1.4859rem;
            box-sizing: border-box;
            padding: 10.5rem 14.4rem 10.414rem 14.5rem;
            width: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 0.1rem;
            background-color: #d9d9d9;
            background-position: center;
            background-image: url('REPLACE_IMAGE:eab6e62830543343a245e14c5bf5153d6fabf359');
            flex-shrink: 0;

            .group-14774-h45 {
              width: 7.8rem;
              height: 7.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .product-events-CWd {
            display: flex;
            line-height: 1.5;
            white-space: nowrap;
            align-items: baseline;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 500;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';

            .product-events-CWd-sub-0 {
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #f26440;
              font-family: Poppins, 'Source Sans Pro';
            }
            .product-events-CWd-sub-1 {
            }
          }
        }
      }
    }
    .button-nzd {
      line-height: 1.5;
      color: #000000;
      border: solid 0.2rem #000000;
      box-sizing: border-box;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
      height: 6rem;
      font-weight: 400;
      width: calc(100% - 150.4rem);
      display: flex;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0 75.2rem;
    }
  }
  .group-14593-emw {
    padding: 4.8rem 9.9rem 2.5rem 9.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    flex-shrink: 0;
    box-sizing: border-box;

    .frame-14593-ypD {
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;
      height: 20.4rem;
      display: flex;
      align-items: center;

      .auto-group-dhzb-vjT {
        height: 100%;
        display: flex;
        column-gap: 13.7rem;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.6rem 13.9rem 2.6rem 0rem;

        .lorem-ipsum-dolor-sit-amet-consectetur-magna-integer-enim-vitae-vulputate-eu-vitae-tristique-e9f {
          line-height: 1.5;
          letter-spacing: -0.0028rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 23.2rem;
          font-size: 1.4rem;
          font-weight: 400;
        }
        .group-14588-84q {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .general-Tso {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            color: #ffffff;
            margin-bottom: 1.5rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: -0.004rem;
          }
          .about-us-yr9 {
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .pricing-X6y {
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .contact-us-4Mo {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .courses-oaH {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .group-14589-kEd {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .policies-Vi1 {
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 2rem;
            letter-spacing: -0.004rem;
            white-space: nowrap;
          }
          .security-safeguards-RLm {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
          }
          .terms-of-service-9nZ {
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
          }
          .privacy-5w7 {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .accessibility-2rM {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .group-14590-xzu {
          margin: 0.3rem 0;
          height: calc(100% - 0.6rem);
          row-gap: 1.5rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .get-in-touch-JJ5 {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: -0.004rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .follow-us-on-social-media-and-stay-updated-with-the-latest-information-about-our-services-q37 {
            line-height: 1.2;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.1rem;
            max-width: 23.1rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .auto-group-evw5-v4Z {
            display: flex;
            column-gap: 1.3rem;
            align-items: center;
            flex-shrink: 0;

            .group-14586-ryo {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.2rem;
              height: 3.2rem;
            }
            .group-14584-cCH {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.2rem;
              height: 3.2rem;
            }
            .group-14585-9T7 {
              flex-shrink: 0;
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .group-14587-VG5 {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.2rem;
              height: 3.2rem;
            }
          }
        }
      }
      .group-14592-dNH {
        border-radius: 0.6624rem;
        flex-shrink: 0;
        width: 28.4rem;
        height: 100%;

        .subscribe-to-our-lorem-P6Z {
          width: 100%;
          text-align: center;
          line-height: 2.75;
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 500;
          letter-spacing: -0.004rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-velit-enim-est-urna-est-massa-cras-sed-varius-convallis-netus-aliquet-duis-ut-hd3 {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0rem 1.9rem 0.8rem;
          max-width: 26.7rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: -0.003rem;
        }
        .auto-group-vhdt-ZfF {
          padding-left: 1.1rem;
          width: calc(100% - 0.8rem);
          height: 4rem;
          background-color: #ffffff;
          border-radius: 0.6624rem;
          margin-right: 0.8rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          box-shadow: 0 0.0552rem 0.828rem rgba(0, 0, 0, 0.150000006);

          .enter-your-mail-fCV {
            font-weight: 500;
            line-height: 0.8674285071;
            white-space: nowrap;
            margin: 0.1rem 7.1rem 0rem 0rem;
            font-size: 1.4rem;
            color: #ed483e;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            letter-spacing: -0.0034rem;
          }
          .auto-group-v2b3-8rm {
            background-color: #f26440;
            height: 100%;
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
            align-items: center;
            width: 8.8rem;
            display: flex;
            color: #ffffff;
            flex-shrink: 0;
            letter-spacing: -0.0024rem;
            justify-content: center;
            border-radius: 0.6624rem;
            font-size: 0.9936rem;
            line-height: 1.5;
            white-space: nowrap;
          }
        }
      }
    }
    .group-14470-9G5 {
      flex-shrink: 0;
      margin: 0rem 60rem 0rem 50.2rem;
      width: calc(100% - 110.2rem);
      display: flex;
      flex-direction: column;

      .lorem-all-right-deserved-U3T {
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        letter-spacing: -0.024rem;
        font-family: Poppins, 'Source Sans Pro';
        line-height: 1.5;
        color: #bdb9b9;
        margin: 0rem 0rem 0.8rem 23.8rem;
        display: flex;
        font-size: 1.2rem;
      }
      .la-copyright-Zah {
        width: 1.2rem;
        height: 1.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
