
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.request-demo-HFo {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-awph-zvu {
    background-image: url('REPLACE_IMAGE:f53839fc49df50e1b6bf0858d185971cf101224a');
    flex-shrink: 0;
    box-sizing: border-box;
    padding-right: 10.3rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: 63.8rem;
    background-color: #d9d9d9;
    background-size: 100% 180.564%;
    background-position: -0.4516rem -40.6349rem;

    .auto-group-ynbb-v3s {
      margin-right: 19.25rem;
      width: 116.65rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-18789-eVf {
        top: 0;
        background: linear-gradient(269.18deg, rgba(0, 0, 0, 0.6000000238) 97.71%, rgba(0, 0, 0, 0) 204.55%);
        width: 109.3rem;
        height: 63.8rem;
        position: absolute;
        left: 0;
      }
      .rectangle-18790-jX7 {
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(269.18deg, rgba(0, 0, 0, 0) 97.71%, rgba(0, 0, 0, 0) 204.55%);
        width: 109.3rem;
        height: 63.8rem;
      }
      .frame-14595-qq3 {
        column-gap: 3rem;
        align-items: center;
        width: 48.6rem;
        height: 3rem;
        position: absolute;
        left: 24.1rem;
        top: 4.6rem;
        display: flex;

        .home-x8y {
          line-height: 1.6666666667;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 400;
          flex-shrink: 0;
          align-items: center;
        }
        .about-us-enV {
          display: flex;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6666666667;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .contact-us-ms7 {
          display: flex;
          align-items: center;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6666666667;
          color: #ffffff;
          white-space: nowrap;
        }
        .services-Jc9 {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          font-weight: 400;
          line-height: 1.6666666667;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
        }
        .media-duK {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6666666667;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
        }
      }
      .blueribbion-removebg-preview-2-aJm {
        height: 5.2434rem;
        position: relative;
        left: 10.3rem;
        top: 3.4rem;
        background-size: 207.692% 257.669%;
        background-position: -4.793rem -4.1818rem;
        background-image: url('REPLACE_IMAGE:1714e20692eedcf9c1dabb6ac231785b455d3d50');
        width: 9.2rem;
      }
      .button-S65 {
        font-family: Poppins, 'Source Sans Pro';
        left: 10rem;
        top: 56.3rem;
        display: flex;
        justify-content: center;
        font-weight: 500;
        color: #ffffff;
        white-space: nowrap;
        height: 4.5rem;
        position: absolute;
        width: 15.3rem;
        border: solid 0.2rem #ffffff;
        line-height: 1.5;
        box-sizing: border-box;
        align-items: center;
        font-size: 2rem;
      }
      .button-HcV {
        line-height: 1.5;
        justify-content: center;
        font-weight: 500;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        border: solid 0.2rem #ffffff;
        height: 4.5rem;
        top: 56.3rem;
        left: 28rem;
        font-size: 2rem;
        color: #ffffff;
        width: 18.4rem;
        position: absolute;
      }
      .group-14735-xCq {
        width: 60.5rem;
        height: 14.6rem;
        position: absolute;
        left: 56.15rem;
        top: 22.1rem;

        .blue-ribbon-events-5YM {
          font-size: 6.4rem;
          color: #ffffff;
          height: 9.6rem;
          position: absolute;
          left: 0;
          align-items: baseline;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 60.5rem;
          font-weight: 600;
          display: flex;
          justify-content: center;
          top: 0;

          .blue-ribbon-events-5YM-sub-0 {
            font-size: 6.4rem;
            font-weight: 600;
            line-height: 1.5;
            color: #f26440;
            font-family: Poppins, 'Source Sans Pro';
          }
          .blue-ribbon-events-5YM-sub-1 {
          }
        }
        .schedule-a-demo-KLD {
          position: absolute;
          display: flex;
          align-items: center;
          height: 5.4rem;
          top: 9.2rem;
          font-weight: 500;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          justify-content: center;
          font-size: 3.6rem;
          white-space: nowrap;
          width: 32rem;
          left: 14.25rem;
          line-height: 1.5;
        }
      }
    }
    .button-zx9 {
      justify-content: center;
      font-weight: 600;
      line-height: 1.5;
      color: #f26440;
      font-family: Poppins, 'Source Sans Pro';
      border: solid 0.2rem #f26440;
      box-sizing: border-box;
      margin-top: 2.6rem;
      width: 27.5rem;
      height: 6rem;
      display: flex;
      font-size: 2.4rem;
      align-items: center;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-awph-zvu-bg {
      width: 173.7rem;
      height: 63.8rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:f53839fc49df50e1b6bf0858d185971cf101224a');
    }
  }
  .auto-group-mvnm-zqf {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.8rem 9.7rem 18.5rem 10rem;
    width: 100%;

    .auto-group-gokx-7vH {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 103.3rem 6.7rem 0rem;
      width: calc(100% - 103.3rem);

      .line-17-SxZ {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.7rem 0.1rem 0rem;
        width: 12.1rem;
        height: 0;
        object-fit: contain;
      }
      .request-demo-nFj {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 5rem;
        font-weight: 600;
        line-height: 1.5;
        align-items: baseline;
        display: flex;
        color: #000000;
        white-space: nowrap;

        .request-demo-nFj-sub-0 {
        }
        .request-demo-nFj-sub-1 {
          font-weight: 600;
          line-height: 1.5;
          color: #f26440;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 5rem;
        }
      }
    }
    .auto-group-oudt-Mi9 {
      margin-left: 1.1rem;
      width: calc(100% - 1.1rem);
      height: 120rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-vqad-hGD {
        margin: 18.5rem 10.9rem 46.4rem 0rem;
        height: calc(100% - 64.9rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .lets-schedule-your-demo-p5w {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 4.1rem;
          display: flex;
          line-height: 1.5;
          max-width: 49.9rem;
          font-size: 5rem;
          font-weight: 600;

          .lets-schedule-your-demo-p5w-sub-0 {
          }
          .lets-schedule-your-demo-p5w-sub-1 {
            color: #f26440;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 5rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-at-vitae-tincidunt-ac-habitant-id-quis-elit-molestie-malesuada-blandit-mvH {
          line-height: 1.6666666667;
          color: #0d0d0d;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 50.5rem;
          display: flex;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .auto-group-ylcy-9vq {
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 8rem 8.1rem 6.7rem 8.1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 90.6rem;
        height: 100%;
        background-color: #1c1c6a;

        .frame-14797-53o {
          margin-bottom: 8.1rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-nnqf-DQu {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 0.1rem 4rem 0.1rem;
            width: 100%;

            .group-14785-MGD {
              margin-bottom: 4rem;
              width: 100%;
              display: flex;
              align-items: center;
              border-radius: 0.5rem;
              flex-shrink: 0;

              .full-name-maq {
                margin-right: 6.8rem;
                display: flex;
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .rectangle-18810-HZB {
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 59.9rem;
                height: 7.5rem;
                border: solid 0.1rem #cacaca;
                box-sizing: border-box;
                background-color: #ffffff;
              }
            }
            .group-14789-PcD {
              flex-shrink: 0;
              width: 100%;
              display: flex;
              align-items: center;
              border-radius: 0.5rem;

              .your-email-M3F {
                margin-right: 6.2rem;
                font-size: 1.5rem;
                line-height: 1.5;
                flex-shrink: 0;
                display: flex;
                font-weight: 600;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .rectangle-18811-gbK {
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 59.9rem;
                height: 7.5rem;
                border: solid 0.1rem #cacaca;
                box-sizing: border-box;
                background-color: #ffffff;
              }
            }
          }
          .group-14790-17o {
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .phone-number-9Uu {
              font-family: Poppins, 'Source Sans Pro';
              margin: 0rem 3.1rem 2.4rem 0rem;
              display: flex;
              font-weight: 600;
              color: #ffffff;
              font-size: 1.5rem;
              line-height: 1.5;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .rectangle-18812-4bs {
              border-radius: 0.5rem;
              flex-shrink: 0;
              width: 59.9rem;
              height: 7.5rem;
              border: solid 0.1rem #cacaca;
              box-sizing: border-box;
              background-color: #ffffff;
            }
          }
          .auto-group-cfum-nXs {
            box-sizing: border-box;
            padding: 4rem 0.25rem 0rem 0.25rem;
            width: 100%;
            row-gap: 4rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .group-14791-KGu {
              margin: 0 0.05rem;
              width: calc(100% - 0.1rem);
              height: 7.5rem;
              border-radius: 0.5rem;
              flex-shrink: 0;

              .group-14788-FwF {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                border-radius: 0.5rem;

                .address-pUZ {
                  margin-right: 7.6rem;
                  font-size: 1.5rem;
                  line-height: 1.5;
                  color: #ffffff;
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 600;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .rectangle-18814-YvM {
                  width: 59.9rem;
                  height: 7.5rem;
                  border: solid 0.1rem #cacaca;
                  box-sizing: border-box;
                  background-color: #ffffff;
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                }
              }
            }
            .group-14796-G5f {
              position: relative;
              flex-shrink: 0;
              width: 100%;
              height: 19rem;

              .group-14792-24q {
                border-radius: 0.5rem;
                width: 73.9rem;
                height: 7.5rem;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;

                .event-type-ZaZ {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.5rem;
                  font-family: Poppins, 'Source Sans Pro';
                  font-weight: 600;
                  line-height: 1.5;
                  color: #ffffff;
                  margin-right: 5.7rem;
                  display: flex;
                }
                .auto-group-tjsd-tMw {
                  line-height: 1.5;
                  color: #000000;
                  border: solid 0.1rem #cacaca;
                  padding: 2.6rem 3.15rem;
                  width: 59.9rem;
                  font-size: 1.5rem;
                  font-family: Poppins, 'Source Sans Pro';
                  border-radius: 0.5rem;
                  box-sizing: border-box;
                  font-weight: 400;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  height: 100%;
                  display: flex;
                  white-space: nowrap;
                }
              }
              .group-14795-vpR {
                width: 73.9rem;
                height: 15.7rem;
                position: absolute;
                left: 0;
                top: 3.3rem;

                .group-14793-U5F {
                  width: 73.9rem;
                  height: 7.5rem;
                  position: absolute;
                  left: 0;
                  top: 8.2rem;
                  display: flex;
                  align-items: center;
                  border-radius: 0.5rem;

                  .how-we-you-referred-bvZ {
                    margin: 0.7rem 4.5rem 0rem 0rem;
                    line-height: 1.5;
                    color: #ffffff;
                    flex-shrink: 0;
                    max-width: 9.5rem;
                    display: flex;
                    font-size: 1.5rem;
                    font-weight: 600;
                    font-family: Poppins, 'Source Sans Pro';
                  }
                  .auto-group-qbaq-6sK {
                    padding: 2.4rem 3.15rem 2.8rem 3.15rem;
                    width: 59.9rem;
                    font-weight: 400;
                    color: #000000;
                    border: solid 0.1rem #cacaca;
                    flex-shrink: 0;
                    box-sizing: border-box;
                    display: flex;
                    line-height: 1.5;
                    font-family: Poppins, 'Source Sans Pro';
                    border-radius: 0.5rem;
                    height: 100%;
                    font-size: 1.5rem;
                    white-space: nowrap;
                    background-color: #ffffff;
                  }
                }
                .iconly-light-outline-arrow-down-2-9qb {
                  height: 11.8871rem;
                  position: absolute;
                  left: 68.85rem;
                  top: 0;
                  object-fit: contain;
                  vertical-align: top;
                  width: 1.8rem;
                }
              }
            }
            .group-14794-F7w {
              margin: 0 0.05rem;
              width: calc(100% - 0.1rem);
              display: flex;
              align-items: center;
              border-radius: 0.5rem;
              flex-shrink: 0;

              .your-message-aR7 {
                display: flex;
                line-height: 1.5;
                color: #ffffff;
                flex-shrink: 0;
                margin-right: 3.1rem;
                font-size: 1.5rem;
                font-weight: 600;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .rectangle-18813-JM7 {
                height: 21.3rem;
                border: solid 0.1rem #cacaca;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 59.9rem;
              }
            }
          }
        }
        .button-QQ9 {
          margin-left: 14.1rem;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          background-color: #f26440;
          border-radius: 1rem;
          width: 59.9rem;
          font-size: 2.4rem;
          font-weight: 400;
          flex-shrink: 0;
          height: 6.9rem;
          display: flex;
          white-space: nowrap;
        }
      }
    }
  }
  .group-14593-3i1 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.8rem 9.9rem 2.5rem 9.8rem;

    .frame-14593-ZwF {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;
      height: 20.4rem;
      display: flex;

      .auto-group-zlg9-7Sy {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.6rem 13.9rem 2.6rem 0rem;
        height: 100%;
        display: flex;
        column-gap: 13.7rem;
        align-items: center;

        .lorem-ipsum-dolor-sit-amet-consectetur-magna-integer-enim-vitae-vulputate-eu-vitae-tristique-dAR {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 23.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: -0.0028rem;
        }
        .group-14588-iBs {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .general-ros {
            font-size: 2rem;
            letter-spacing: -0.004rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-weight: 500;
            line-height: 1.5;
            white-space: nowrap;
          }
          .about-us-Br9 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .pricing-ibB {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .contact-us-4f3 {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .courses-cAm {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .group-14589-MPF {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .policies-6rd {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-weight: 500;
            color: #ffffff;
            font-size: 2rem;
            line-height: 1.5;
            letter-spacing: -0.004rem;
          }
          .security-safeguards-dbf {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .terms-of-service-Np9 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .privacy-up5 {
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .accessibility-rUR {
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .group-14590-zqX {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.3rem 0;
          height: calc(100% - 0.6rem);
          row-gap: 1.5rem;

          .get-in-touch-XqT {
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: -0.004rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
          }
          .follow-us-on-social-media-and-stay-updated-with-the-latest-information-about-our-services-4qP {
            line-height: 1.2;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.1rem;
            max-width: 23.1rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .auto-group-mwff-xQy {
            display: flex;
            column-gap: 1.3rem;
            align-items: center;
            flex-shrink: 0;

            .group-14586-Vvh {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-14584-e2u {
              flex-shrink: 0;
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .group-14585-BoX {
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.2rem;
            }
            .group-14587-XcV {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .group-14592-Ga5 {
        flex-shrink: 0;
        width: 28.4rem;
        height: 100%;
        border-radius: 0.6624rem;

        .subscribe-to-our-lorem-23T {
          line-height: 2.75;
          letter-spacing: -0.004rem;
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 500;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          width: 100%;
          text-align: center;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-velit-enim-est-urna-est-massa-cras-sed-varius-convallis-netus-aliquet-duis-ut-9Ny {
          max-width: 26.7rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: -0.003rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0rem 1.9rem 0.8rem;
        }
        .auto-group-z87t-zuP {
          align-items: center;
          box-shadow: 0 0.0552rem 0.828rem rgba(0, 0, 0, 0.150000006);
          background-color: #ffffff;
          width: calc(100% - 0.8rem);
          height: 4rem;
          padding-left: 1.1rem;
          display: flex;
          border-radius: 0.6624rem;
          margin-right: 0.8rem;
          box-sizing: border-box;

          .enter-your-mail-X8d {
            display: flex;
            font-size: 1.4rem;
            letter-spacing: -0.0034rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0.1rem 7.1rem 0rem 0rem;
            font-weight: 500;
            line-height: 0.8674285071;
            color: #ed483e;
            flex-shrink: 0;
          }
          .auto-group-wft5-pNd {
            letter-spacing: -0.0024rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            font-weight: 500;
            line-height: 1.5;
            height: 100%;
            border-radius: 0.6624rem;
            justify-content: center;
            width: 8.8rem;
            white-space: nowrap;
            align-items: center;
            font-size: 0.9936rem;
            background-color: #f26440;
            flex-shrink: 0;
          }
        }
      }
    }
    .group-14470-EBT {
      margin: 0rem 60rem 0rem 50.2rem;
      width: calc(100% - 110.2rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .lorem-all-right-deserved-kQh {
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 0rem 0.8rem 23.8rem;
        line-height: 1.5;
        letter-spacing: -0.024rem;
        color: #bdb9b9;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .la-copyright-qww {
        width: 1.2rem;
        height: 1.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
