
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.services-hAh {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-yxgq-Duj {
    width: 100%;
    height: 63.8rem;
    display: flex;
    align-items: flex-start;
    background-size: 100% 180.564%;
    background-image: url('REPLACE_IMAGE:289556ddfd5bd6bcf11d543d07163859181ebb7f');
    box-sizing: border-box;
    padding-right: 10.3rem;
    background-color: #d9d9d9;
    background-position: -0.4516rem -40.6349rem;
    flex-shrink: 0;

    .auto-group-f2gh-fmj {
      margin-right: 19.25rem;
      width: 116.65rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-18789-Pxd {
        top: 0;
        background: linear-gradient(269.18deg, rgba(0, 0, 0, 0.6000000238) 97.71%, rgba(0, 0, 0, 0) 204.55%);
        width: 109.3rem;
        height: 63.8rem;
        position: absolute;
        left: 0;
      }
      .rectangle-18790-gRw {
        width: 109.3rem;
        height: 63.8rem;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(269.18deg, rgba(0, 0, 0, 0) 97.71%, rgba(0, 0, 0, 0) 204.55%);
      }
      .frame-14595-nzm {
        align-items: center;
        width: 48.7rem;
        height: 3rem;
        position: absolute;
        left: 24.05rem;
        top: 4.6rem;
        display: flex;
        column-gap: 3rem;

        .home-6kZ {
          justify-content: center;
          font-size: 1.8rem;
          line-height: 1.6666666667;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          font-weight: 400;
          color: #ffffff;
        }
        .about-us-QWM {
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
          white-space: nowrap;
          display: flex;
          font-weight: 400;
          line-height: 1.6666666667;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .contact-us-jYd {
          font-size: 1.8rem;
          font-weight: 400;
          white-space: nowrap;
          display: flex;
          align-items: center;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          justify-content: center;
          line-height: 1.6666666667;
        }
        .services-TjX {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.6666666667;
          align-items: center;
          justify-content: center;
          color: #f26440;
          flex-shrink: 0;
        }
        .media-Pt5 {
          align-items: center;
          line-height: 1.6666666667;
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .blueribbion-removebg-preview-2-7ZB {
        position: relative;
        left: 10.3rem;
        top: 3.4rem;
        background-size: 207.692% 257.669%;
        background-position: -4.793rem -4.1818rem;
        background-image: url('REPLACE_IMAGE:1714e20692eedcf9c1dabb6ac231785b455d3d50');
        width: 9.2rem;
        height: 5.2434rem;
      }
      .button-Bow {
        line-height: 1.5;
        width: 15.3rem;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
        box-sizing: border-box;
        white-space: nowrap;
        border: solid 0.2rem #ffffff;
        height: 4.5rem;
        left: 10rem;
        top: 56.3rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .button-2Zf {
        left: 28rem;
        font-weight: 500;
        color: #ffffff;
        display: flex;
        border: solid 0.2rem #ffffff;
        width: 18.4rem;
        justify-content: center;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        height: 4.5rem;
        position: absolute;
        top: 56.3rem;
        align-items: center;
        font-size: 2rem;
        white-space: nowrap;
        box-sizing: border-box;
      }
      .group-14735-iBb {
        top: 22.1rem;
        width: 60.5rem;
        height: 14.6rem;
        position: absolute;
        left: 56.15rem;

        .blue-ribbon-events-e5F {
          font-size: 6.4rem;
          font-weight: 600;
          line-height: 1.5;
          height: 9.6rem;
          left: 0;
          color: #ffffff;
          justify-content: center;
          white-space: nowrap;
          width: 60.5rem;
          top: 0;
          display: flex;
          align-items: baseline;
          position: absolute;
          font-family: Poppins, 'Source Sans Pro';

          .blue-ribbon-events-e5F-sub-0 {
            font-weight: 600;
            line-height: 1.5;
            color: #f26440;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 6.4rem;
          }
          .blue-ribbon-events-e5F-sub-1 {
          }
        }
        .our-services-jF7 {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          left: 18.95rem;
          top: 9.2rem;
          font-size: 3.6rem;
          font-weight: 500;
          align-items: center;
          white-space: nowrap;
          width: 22.6rem;
          height: 5.4rem;
          position: absolute;
          display: flex;
          justify-content: center;
          line-height: 1.5;
        }
      }
    }
    .button-pXT {
      height: 6rem;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.5;
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 2.6rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 27.5rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      border: solid 0.2rem #000000;
    }
    .auto-group-yxgq-Duj-bg {
      height: 63.8rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:289556ddfd5bd6bcf11d543d07163859181ebb7f');
      width: 173.7rem;
    }
  }
  .auto-group-snmo-27j {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.8rem 9.7rem 12.2rem 10rem;

    .auto-group-24m7-LeD {
      width: calc(100% - 109.1rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 109.1rem 1.5rem 0rem;

      .line-16-fRb {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.7rem 0.1rem 0rem;
        width: 12.1rem;
        height: 0;
      }
      .our-services-zTs {
        font-size: 5rem;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        align-items: baseline;
        flex-shrink: 0;
        display: flex;
        white-space: nowrap;
        font-weight: 600;

        .our-services-zTs-sub-0 {
        }
        .our-services-zTs-sub-1 {
          font-size: 5rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f26440;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-NDX {
      font-weight: 400;
      color: #414141;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 9rem;
      max-width: 151rem;
      display: flex;
      font-size: 2.4rem;
      line-height: 1.6666666667;
    }
    .frame-14765-AQH {
      width: 100%;
      row-gap: 10rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-14759-hv1 {
        width: 100%;
        height: 48.9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rectangle-18817-rH7 {
          background-image: url('REPLACE_IMAGE:eab6e62830543343a245e14c5bf5153d6fabf359');
          margin-right: 2rem;
          width: 62.5rem;
          height: 48.9rem;
          background-color: #d9d9d9;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .auto-group-ez5b-jrh {
          margin: 1rem 0rem 2.9rem 0rem;
          width: 88.6rem;
          height: calc(100% - 3.9rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-qhsh-3sP {
            margin: 0rem 44.6rem 6rem 0rem;
            width: calc(100% - 44.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .line-17-PAZ {
              margin-right: 0.7rem;
              width: 12.1rem;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .corporate-events-XXf {
              color: #000000;
              align-items: baseline;
              display: flex;
              font-size: 3.6rem;
              font-weight: 500;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;

              .corporate-events-XXf-sub-0 {
                font-size: 3.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #f26440;
                font-family: Poppins, 'Source Sans Pro';
              }
              .corporate-events-XXf-sub-1 {
              }
            }
          }
          .group-14757-7Vs {
            margin-bottom: 9.5rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-fGV {
              font-weight: 400;
              margin-bottom: 0.1rem;
              font-size: 2.4rem;
              line-height: 1.6666666667;
              color: #414141;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 88.2rem;
              display: flex;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-5b7 {
              font-weight: 400;
              line-height: 1.6666666667;
              color: #414141;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 77.9rem;
              display: flex;
              font-size: 2.4rem;

              .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-5b7-sub-0 {
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-5b7-sub-1 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.6666666667;
                color: #f26440;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
          .line-18-agH {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.2997rem;
            width: 32.0006rem;
            height: 0;
            object-fit: contain;
          }
        }
      }
      .group-14760-VYM {
        margin-right: 0.3rem;
        width: calc(100% - 0.3rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-xeqw-qMK {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 1.9994rem;
          width: 88.3006rem;

          .auto-group-vn6m-aJu {
            width: calc(100% - 40.7006rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 40.701rem 7rem 0rem;

            .line-19-huK {
              margin-right: 0.7rem;
              width: 12.1rem;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .conference-events-f5T {
              font-weight: 500;
              font-family: Poppins, 'Source Sans Pro';
              align-items: baseline;
              flex-shrink: 0;
              font-size: 3.6rem;
              line-height: 1.5;
              color: #000000;
              white-space: nowrap;
              display: flex;

              .conference-events-f5T-sub-0 {
                font-size: 3.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #f26440;
                font-family: Poppins, 'Source Sans Pro';
              }
              .conference-events-f5T-sub-1 {
              }
            }
          }
          .group-14758-8t9 {
            margin: 0rem 0.101rem 8.2rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-ft5 {
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 88.2rem;
              display: flex;
              line-height: 1.6666666667;
              color: #414141;
              margin-bottom: 0.1rem;
              font-size: 2.4rem;
              font-weight: 400;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-tkq {
              max-width: 77.9rem;
              display: flex;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.6666666667;
              color: #414141;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;

              .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-tkq-sub-0 {
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-tkq-sub-1 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.6666666667;
                color: #f26440;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
          .line-20-an5 {
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 32.0006rem;
          }
        }
        .rectangle-18818-8Ho {
          margin-top: 0.2rem;
          width: 62.5rem;
          height: 48.9rem;
          background-size: 100% 100%;
          background-position: center;
          background-image: url('REPLACE_IMAGE:e73969ee51035245f4e9469ce89b7e2e508b8999');
          background-color: #d9d9d9;
          background-repeat: no-repeat;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
      }
      .group-14761-2e5 {
        flex-shrink: 0;
        width: 100%;
        height: 48.9rem;
        display: flex;
        align-items: center;

        .rectangle-18817-Nxq {
          margin-right: 2rem;
          width: 62.5rem;
          height: 48.9rem;
          background-size: 100% 100%;
          flex-shrink: 0;
          background-color: #d9d9d9;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:23de604db411f772a3b4408c47ab1e0944dd73c7');
          border-radius: 0.5rem;
        }
        .auto-group-2l1o-VXf {
          height: calc(100% - 3.9rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1rem 0rem 2.9rem 0rem;
          width: 88.6rem;

          .auto-group-f5eh-ooF {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 47.6rem 6rem 0rem;
            width: calc(100% - 47.6rem);

            .line-17-8qX {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.7rem;
              width: 12.1rem;
              height: 0;
              object-fit: contain;
            }
            .product-launch-Ggq {
              align-items: baseline;
              flex-shrink: 0;
              display: flex;
              font-size: 3.6rem;
              font-weight: 500;
              color: #f26440;
              font-family: Poppins, 'Source Sans Pro';
              line-height: 1.5;
              white-space: nowrap;

              .product-launch-Ggq-sub-0 {
              }
              .product-launch-Ggq-sub-1 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 3.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #000000;
              }
            }
          }
          .group-14757-sgd {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 9.5rem;

            .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-prm {
              display: flex;
              font-weight: 400;
              flex-shrink: 0;
              max-width: 88.2rem;
              font-size: 2.4rem;
              line-height: 1.6666666667;
              color: #414141;
              font-family: Poppins, 'Source Sans Pro';
              margin-bottom: 0.1rem;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-EQh {
              max-width: 77.9rem;
              display: flex;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.6666666667;
              color: #414141;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;

              .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-EQh-sub-0 {
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-EQh-sub-1 {
                line-height: 1.6666666667;
                color: #f26440;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 400;
              }
            }
          }
          .line-18-M7w {
            margin-right: 0.2997rem;
            width: 32.0006rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-14762-HGV {
        margin-right: 0.3rem;
        width: calc(100% - 0.3rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-x2yq-Rdb {
          flex-shrink: 0;
          margin-right: 1.9994rem;
          width: 88.3006rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .auto-group-mbaq-kvm {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 45.701rem 7rem 0rem;
            width: calc(100% - 45.7006rem);
            display: flex;

            .line-19-5i9 {
              margin-right: 0.7rem;
              width: 12.1rem;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .communication-qBX {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 3.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #f26440;
            }
          }
          .group-14758-may {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 0.101rem 8.2rem 0rem;

            .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-uhB {
              margin-bottom: 0.1rem;
              font-size: 2.4rem;
              flex-shrink: 0;
              color: #414141;
              font-family: Poppins, 'Source Sans Pro';
              max-width: 88.2rem;
              display: flex;
              font-weight: 400;
              line-height: 1.6666666667;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-wNy {
              max-width: 77.9rem;
              display: flex;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.6666666667;
              color: #414141;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;

              .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-wNy-sub-0 {
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-wNy-sub-1 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.6666666667;
                color: #f26440;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
          .line-20-JWM {
            width: 32.0006rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .rectangle-18818-3Tw {
          background-image: url('REPLACE_IMAGE:8b0009440fb388cfc497bfaa9bc52e941dc1c504');
          border-radius: 0.5rem;
          width: 62.5rem;
          height: 48.9rem;
          background-position: center;
          background-repeat: no-repeat;
          flex-shrink: 0;
          margin-top: 0.2rem;
          background-color: #d9d9d9;
          background-size: 100% 100%;
        }
      }
      .group-14763-x57 {
        width: 100%;
        height: 48.9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rectangle-18817-Vqj {
          margin-right: 2rem;
          width: 62.5rem;
          height: 48.9rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .auto-group-xlc9-24y {
          flex-direction: column;
          flex-shrink: 0;
          margin: 1rem 0rem 2.9rem 0rem;
          width: 88.6rem;
          height: calc(100% - 3.9rem);
          align-items: flex-end;
          display: flex;

          .auto-group-pg17-8Nu {
            margin: 0rem 45.4rem 6rem 0rem;
            width: calc(100% - 45.4rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .line-17-4GZ {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.7rem;
              width: 12.1rem;
              height: 0;
              object-fit: contain;
            }
            .event-production-1Bo {
              display: flex;
              font-size: 3.6rem;
              font-weight: 500;
              align-items: baseline;
              flex-shrink: 0;
              line-height: 1.5;
              color: #f26440;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;

              .event-production-1Bo-sub-0 {
                font-size: 3.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
              }
              .event-production-1Bo-sub-1 {
              }
            }
          }
          .group-14757-otM {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 9.5rem;

            .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-kob {
              margin-bottom: 0.1rem;
              max-width: 88.2rem;
              display: flex;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.6666666667;
              color: #414141;
              flex-shrink: 0;
              font-family: Poppins, 'Source Sans Pro';
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-and {
              display: flex;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.6666666667;
              color: #414141;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 77.9rem;

              .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-and-sub-0 {
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-and-sub-1 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.6666666667;
                color: #f26440;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
          .line-18-Gos {
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.2997rem;
            width: 32.0006rem;
          }
        }
      }
      .group-14764-QfB {
        margin-right: 0.3rem;
        width: calc(100% - 0.3rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-t2jb-kU9 {
          margin-right: 1.9994rem;
          width: 88.3006rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-xyer-62D {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 47.301rem 7rem 0rem;
            width: calc(100% - 47.3006rem);
            display: flex;

            .line-19-Dcd {
              height: 0;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.7rem;
              width: 12.1rem;
            }
            .board-meetings-NEd {
              font-weight: 500;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 3.6rem;
              line-height: 1.5;
              color: #f26440;
              align-items: baseline;
              flex-shrink: 0;

              .board-meetings-NEd-sub-0 {
              }
              .board-meetings-NEd-sub-1 {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 3.6rem;
                font-weight: 500;
                line-height: 1.5;
              }
            }
          }
          .group-14758-zG1 {
            margin: 0rem 0.101rem 8.2rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-Kp5 {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.6666666667;
              flex-shrink: 0;
              display: flex;
              max-width: 88.2rem;
              color: #414141;
              font-family: Poppins, 'Source Sans Pro';
              margin-bottom: 0.1rem;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-MEy {
              line-height: 1.6666666667;
              color: #414141;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 77.9rem;
              display: flex;
              font-size: 2.4rem;
              font-weight: 400;

              .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-MEy-sub-0 {
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-MEy-sub-1 {
                color: #f26440;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.6666666667;
              }
            }
          }
          .line-20-s6q {
            vertical-align: top;
            flex-shrink: 0;
            width: 32.0006rem;
            height: 0;
            object-fit: contain;
          }
        }
        .rectangle-18818-R8M {
          width: 62.5rem;
          background-color: #d9d9d9;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          flex-shrink: 0;
          margin-top: 0.2rem;
          background-position: center;
          background-image: url('REPLACE_IMAGE:b97ef60c1f714daa727f21c28f7ce8d58daf3939');
          border-radius: 0.5rem;
          height: 48.9rem;
        }
      }
    }
  }
  .group-14593-upD {
    width: 100%;
    flex-direction: column;
    display: flex;
    background-color: #1a1a1a;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.8rem 9.9rem 2.5rem 9.8rem;
    height: 33.2rem;
    align-items: center;

    .frame-14593-dVK {
      width: 100%;
      height: 20.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.7rem;

      .auto-group-eawb-Ztm {
        box-sizing: border-box;
        padding: 2.6rem 13.9rem 2.6rem 0rem;
        height: 100%;
        display: flex;
        column-gap: 13.7rem;
        align-items: center;
        flex-shrink: 0;

        .lorem-ipsum-dolor-sit-amet-consectetur-magna-integer-enim-vitae-vulputate-eu-vitae-tristique-HZs {
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: -0.0028rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 23.2rem;
          font-size: 1.4rem;
        }
        .group-14588-NrD {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .general-XUD {
            font-size: 2rem;
            letter-spacing: -0.004rem;
            color: #ffffff;
            white-space: nowrap;
            margin-bottom: 1.5rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 500;
          }
          .about-us-Ff7 {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
          }
          .pricing-nuw {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .contact-us-iYh {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
          }
          .courses-Sjb {
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
          }
        }
        .group-14589-mG5 {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .policies-udB {
            font-size: 2rem;
            letter-spacing: -0.004rem;
            color: #ffffff;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-weight: 500;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .security-safeguards-z8q {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .terms-of-service-JQR {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
          }
          .privacy-qQM {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .accessibility-NfB {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .group-14590-WmP {
          height: calc(100% - 0.6rem);
          row-gap: 1.5rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.3rem 0;

          .get-in-touch-pGH {
            line-height: 1.5;
            letter-spacing: -0.004rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
          }
          .follow-us-on-social-media-and-stay-updated-with-the-latest-information-about-our-services-MGD {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.1rem;
            max-width: 23.1rem;
          }
          .auto-group-3w7s-F6h {
            display: flex;
            column-gap: 1.3rem;
            align-items: center;
            flex-shrink: 0;

            .group-14586-m53 {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-14584-VFw {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-14585-2Fs {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
            }
            .group-14587-N4q {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
            }
          }
        }
      }
      .group-14592-hso {
        height: 100%;
        border-radius: 0.6624rem;
        flex-shrink: 0;
        width: 28.4rem;

        .subscribe-to-our-lorem-FPX {
          text-align: center;
          color: #ffffff;
          white-space: nowrap;
          font-family: Poppins, 'Source Sans Pro';
          width: 100%;
          font-size: 2rem;
          font-weight: 500;
          line-height: 2.75;
          letter-spacing: -0.004rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-velit-enim-est-urna-est-massa-cras-sed-varius-convallis-netus-aliquet-duis-ut-xoj {
          line-height: 1.5;
          letter-spacing: -0.003rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0rem 1.9rem 0.8rem;
          max-width: 26.7rem;
          font-size: 1.5rem;
          font-weight: 400;
        }
        .auto-group-lcyr-DUm {
          margin-right: 0.8rem;
          padding-left: 1.1rem;
          width: calc(100% - 0.8rem);
          box-shadow: 0 0.0552rem 0.828rem rgba(0, 0, 0, 0.150000006);
          border-radius: 0.6624rem;
          box-sizing: border-box;
          height: 4rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;

          .enter-your-mail-L3b {
            margin: 0.1rem 7.1rem 0rem 0rem;
            display: flex;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 0.8674285071;
            letter-spacing: -0.0034rem;
            color: #ed483e;
            font-family: Poppins, 'Source Sans Pro';
          }
          .auto-group-xwku-Rqj {
            justify-content: center;
            flex-shrink: 0;
            font-size: 0.9936rem;
            font-weight: 500;
            letter-spacing: -0.0024rem;
            color: #ffffff;
            white-space: nowrap;
            border-radius: 0.6624rem;
            width: 8.8rem;
            height: 100%;
            line-height: 1.5;
            align-items: center;
            background-color: #f26440;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
    }
    .group-14470-3MK {
      margin: 0rem 60rem 0rem 50.2rem;
      width: calc(100% - 110.2rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .lorem-all-right-deserved-ARw {
        line-height: 1.5;
        letter-spacing: -0.024rem;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        color: #bdb9b9;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 0.8rem 23.8rem;
        display: flex;
      }
      .la-copyright-41X {
        width: 1.2rem;
        height: 1.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
