
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
a{
  color: white;
}
body {
  width: 172.8rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  zoom: 75%; /* Set the desired zoom level */
}.services-hAh {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.services-hAh .auto-group-yxgq-Duj {
  box-sizing: border-box;
  padding-right: 10.3rem;
  width: 100%;
  height: 63.8rem;
  display: flex;
  align-items: flex-start;
  background-color: #d9d9d9;
  background-size: 100% 180.564%;
  background-position: -0.4516rem -40.6349rem;
  background-image: url('../assets/rectangle-18788-bg-tsj.png');
  flex-shrink: 0;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj {
  margin-right: 19.25rem;
  width: 116.65rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .rectangle-18789-Pxd {
  width: 109.3rem;
  height: 63.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(269.18deg, rgba(0, 0, 0, 0.6000000238) 97.71%, rgba(0, 0, 0, 0) 204.55%);
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .rectangle-18790-gRw {
  width: 109.3rem;
  height: 63.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(269.18deg, rgba(0, 0, 0, 0) 97.71%, rgba(0, 0, 0, 0) 204.55%);
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .frame-14595-nzm {
  width: 48.7rem;
  height: 3rem;
  position: absolute;
  left: 24.05rem;
  top: 4.6rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .frame-14595-nzm .home-6kZ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .frame-14595-nzm .about-us-QWM {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .frame-14595-nzm .contact-us-jYd {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .frame-14595-nzm .services-TjX {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6666666667;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .frame-14595-nzm .media-Pt5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .blueribbion-removebg-preview-2-7ZB {
  width: 9.2rem;
  height: 5.2434rem;
  position: relative;
  left: 10.3rem;
  top: 3.4rem;
  background-size: 207.692% 257.669%;
  background-position: -4.793rem -4.1818rem;
  background-image: url('../assets/blueribbion-removebg-preview-2-yW1.png');
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .button-Bow {
  width: 15.3rem;
  height: 4.5rem;
  position: absolute;
  left: 10rem;
  top: 56.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .button-2Zf {
  width: 18.4rem;
  height: 4.5rem;
  position: absolute;
  left: 28rem;
  top: 56.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .group-14735-iBb {
  width: 60.5rem;
  height: 14.6rem;
  position: absolute;
  left: 56.15rem;
  top: 22.1rem;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .group-14735-iBb .blue-ribbon-events-e5F {
  width: 60.5rem;
  height: 9.6rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .group-14735-iBb .blue-ribbon-events-e5F .blue-ribbon-events-e5F-sub-0 {
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .group-14735-iBb .blue-ribbon-events-e5F .blue-ribbon-events-e5F-sub-1 {
}
.services-hAh .auto-group-yxgq-Duj .auto-group-f2gh-fmj .group-14735-iBb .our-services-jF7 {
  width: 22.6rem;
  height: 5.4rem;
  position: absolute;
  left: 18.95rem;
  top: 9.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.services-hAh .auto-group-yxgq-Duj .button-pXT {
  margin-top: 2.6rem;
  width: 27.5rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.services-hAh .auto-group-yxgq-Duj .auto-group-yxgq-Duj-bg {
  width: 173.7rem;
  height: 63.8rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:289556ddfd5bd6bcf11d543d07163859181ebb7f');
}
.services-hAh .auto-group-snmo-27j {
  box-sizing: border-box;
  padding: 4.8rem 9.7rem 12.2rem 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .auto-group-24m7-LeD {
  margin: 0rem 109.1rem 1.5rem 0rem;
  width: calc(100% - 109.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .auto-group-24m7-LeD .line-16-fRb {
  margin: 0rem 0.7rem 0.1rem 0rem;
  width: 12.1rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .auto-group-24m7-LeD .our-services-zTs {
  display: flex;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .auto-group-24m7-LeD .our-services-zTs .our-services-zTs-sub-0 {
}
.services-hAh .auto-group-snmo-27j .auto-group-24m7-LeD .our-services-zTs .our-services-zTs-sub-1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-snmo-27j .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-NDX {
  margin-bottom: 9rem;
  max-width: 151rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH {
  width: 100%;
  row-gap: 10rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 {
  width: 100%;
  height: 48.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .rectangle-18817-rH7 {
  margin-right: 2rem;
  width: 62.5rem;
  height: 48.9rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-18817-bg.png');
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .auto-group-ez5b-jrh {
  margin: 1rem 0rem 2.9rem 0rem;
  width: 88.6rem;
  height: calc(100% - 3.9rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .auto-group-ez5b-jrh .auto-group-qhsh-3sP {
  margin: 0rem 44.6rem 6rem 0rem;
  width: calc(100% - 44.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .auto-group-ez5b-jrh .auto-group-qhsh-3sP .line-17-PAZ {
  margin-right: 0.7rem;
  width: 12.1rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .auto-group-ez5b-jrh .auto-group-qhsh-3sP .corporate-events-XXf {
  display: flex;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .auto-group-ez5b-jrh .auto-group-qhsh-3sP .corporate-events-XXf .corporate-events-XXf-sub-0 {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .auto-group-ez5b-jrh .auto-group-qhsh-3sP .corporate-events-XXf .corporate-events-XXf-sub-1 {
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .auto-group-ez5b-jrh .group-14757-7Vs {
  margin-bottom: 9.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .auto-group-ez5b-jrh .group-14757-7Vs .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-fGV {
  margin-bottom: 0.1rem;
  max-width: 88.2rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .auto-group-ez5b-jrh .group-14757-7Vs .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-5b7 {
  max-width: 77.9rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .auto-group-ez5b-jrh .group-14757-7Vs .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-5b7 .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-5b7-sub-0 {
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .auto-group-ez5b-jrh .group-14757-7Vs .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-5b7 .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-5b7-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14759-hv1 .auto-group-ez5b-jrh .line-18-agH {
  margin-right: 0.2997rem;
  width: 32.0006rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM {
  margin-right: 0.3rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .auto-group-xeqw-qMK {
  margin-right: 1.9994rem;
  width: 88.3006rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .auto-group-xeqw-qMK .auto-group-vn6m-aJu {
  margin: 0rem 40.701rem 7rem 0rem;
  width: calc(100% - 40.7006rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .auto-group-xeqw-qMK .auto-group-vn6m-aJu .line-19-huK {
  margin-right: 0.7rem;
  width: 12.1rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .auto-group-xeqw-qMK .auto-group-vn6m-aJu .conference-events-f5T {
  display: flex;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .auto-group-xeqw-qMK .auto-group-vn6m-aJu .conference-events-f5T .conference-events-f5T-sub-0 {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .auto-group-xeqw-qMK .auto-group-vn6m-aJu .conference-events-f5T .conference-events-f5T-sub-1 {
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .auto-group-xeqw-qMK .group-14758-8t9 {
  margin: 0rem 0.101rem 8.2rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .auto-group-xeqw-qMK .group-14758-8t9 .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-ft5 {
  margin-bottom: 0.1rem;
  max-width: 88.2rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .auto-group-xeqw-qMK .group-14758-8t9 .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-tkq {
  max-width: 77.9rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .auto-group-xeqw-qMK .group-14758-8t9 .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-tkq .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-tkq-sub-0 {
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .auto-group-xeqw-qMK .group-14758-8t9 .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-tkq .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-tkq-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .auto-group-xeqw-qMK .line-20-an5 {
  width: 32.0006rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14760-VYM .rectangle-18818-8Ho {
  margin-top: 0.2rem;
  width: 62.5rem;
  height: 48.9rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-18818-bg-hEZ.png');
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 {
  width: 100%;
  height: 48.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .rectangle-18817-Nxq {
  margin-right: 2rem;
  width: 62.5rem;
  height: 48.9rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-18817-bg-WXK.png');
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .auto-group-2l1o-VXf {
  margin: 1rem 0rem 2.9rem 0rem;
  width: 88.6rem;
  height: calc(100% - 3.9rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .auto-group-2l1o-VXf .auto-group-f5eh-ooF {
  margin: 0rem 47.6rem 6rem 0rem;
  width: calc(100% - 47.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .auto-group-2l1o-VXf .auto-group-f5eh-ooF .line-17-8qX {
  margin-right: 0.7rem;
  width: 12.1rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .auto-group-2l1o-VXf .auto-group-f5eh-ooF .product-launch-Ggq {
  display: flex;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .auto-group-2l1o-VXf .auto-group-f5eh-ooF .product-launch-Ggq .product-launch-Ggq-sub-0 {
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .auto-group-2l1o-VXf .auto-group-f5eh-ooF .product-launch-Ggq .product-launch-Ggq-sub-1 {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .auto-group-2l1o-VXf .group-14757-sgd {
  margin-bottom: 9.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .auto-group-2l1o-VXf .group-14757-sgd .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-prm {
  margin-bottom: 0.1rem;
  max-width: 88.2rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .auto-group-2l1o-VXf .group-14757-sgd .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-EQh {
  max-width: 77.9rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .auto-group-2l1o-VXf .group-14757-sgd .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-EQh .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-EQh-sub-0 {
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .auto-group-2l1o-VXf .group-14757-sgd .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-EQh .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-EQh-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14761-2e5 .auto-group-2l1o-VXf .line-18-M7w {
  margin-right: 0.2997rem;
  width: 32.0006rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14762-HGV {
  margin-right: 0.3rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14762-HGV .auto-group-x2yq-Rdb {
  margin-right: 1.9994rem;
  width: 88.3006rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14762-HGV .auto-group-x2yq-Rdb .auto-group-mbaq-kvm {
  margin: 0rem 45.701rem 7rem 0rem;
  width: calc(100% - 45.7006rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14762-HGV .auto-group-x2yq-Rdb .auto-group-mbaq-kvm .line-19-5i9 {
  margin-right: 0.7rem;
  width: 12.1rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14762-HGV .auto-group-x2yq-Rdb .auto-group-mbaq-kvm .communication-qBX {
  display: flex;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14762-HGV .auto-group-x2yq-Rdb .group-14758-may {
  margin: 0rem 0.101rem 8.2rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14762-HGV .auto-group-x2yq-Rdb .group-14758-may .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-uhB {
  margin-bottom: 0.1rem;
  max-width: 88.2rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14762-HGV .auto-group-x2yq-Rdb .group-14758-may .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-wNy {
  max-width: 77.9rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14762-HGV .auto-group-x2yq-Rdb .group-14758-may .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-wNy .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-wNy-sub-0 {
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14762-HGV .auto-group-x2yq-Rdb .group-14758-may .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-wNy .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-wNy-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14762-HGV .auto-group-x2yq-Rdb .line-20-JWM {
  width: 32.0006rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14762-HGV .rectangle-18818-3Tw {
  margin-top: 0.2rem;
  width: 62.5rem;
  height: 48.9rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-18818-bg-Nzm.png');
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 {
  width: 100%;
  height: 48.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .rectangle-18817-Vqj {
  margin-right: 2rem;
  width: 62.5rem;
  height: 48.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .auto-group-xlc9-24y {
  margin: 1rem 0rem 2.9rem 0rem;
  width: 88.6rem;
  height: calc(100% - 3.9rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .auto-group-xlc9-24y .auto-group-pg17-8Nu {
  margin: 0rem 45.4rem 6rem 0rem;
  width: calc(100% - 45.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .auto-group-xlc9-24y .auto-group-pg17-8Nu .line-17-4GZ {
  margin-right: 0.7rem;
  width: 12.1rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .auto-group-xlc9-24y .auto-group-pg17-8Nu .event-production-1Bo {
  display: flex;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .auto-group-xlc9-24y .auto-group-pg17-8Nu .event-production-1Bo .event-production-1Bo-sub-0 {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .auto-group-xlc9-24y .auto-group-pg17-8Nu .event-production-1Bo .event-production-1Bo-sub-1 {
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .auto-group-xlc9-24y .group-14757-otM {
  margin-bottom: 9.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .auto-group-xlc9-24y .group-14757-otM .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-kob {
  margin-bottom: 0.1rem;
  max-width: 88.2rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .auto-group-xlc9-24y .group-14757-otM .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-and {
  max-width: 77.9rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .auto-group-xlc9-24y .group-14757-otM .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-and .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-and-sub-0 {
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .auto-group-xlc9-24y .group-14757-otM .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-and .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-and-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14763-x57 .auto-group-xlc9-24y .line-18-Gos {
  margin-right: 0.2997rem;
  width: 32.0006rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB {
  margin-right: 0.3rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .auto-group-t2jb-kU9 {
  margin-right: 1.9994rem;
  width: 88.3006rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .auto-group-t2jb-kU9 .auto-group-xyer-62D {
  margin: 0rem 47.301rem 7rem 0rem;
  width: calc(100% - 47.3006rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .auto-group-t2jb-kU9 .auto-group-xyer-62D .line-19-Dcd {
  margin-right: 0.7rem;
  width: 12.1rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .auto-group-t2jb-kU9 .auto-group-xyer-62D .board-meetings-NEd {
  display: flex;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .auto-group-t2jb-kU9 .auto-group-xyer-62D .board-meetings-NEd .board-meetings-NEd-sub-0 {
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .auto-group-t2jb-kU9 .auto-group-xyer-62D .board-meetings-NEd .board-meetings-NEd-sub-1 {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .auto-group-t2jb-kU9 .group-14758-zG1 {
  margin: 0rem 0.101rem 8.2rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .auto-group-t2jb-kU9 .group-14758-zG1 .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-mi-diam-interdum-cursus-sed-viverra-quam-lorem-massa-eget-diam-suspendisse-iaculis-sed-commodo-facilisis-tortor-elementum-orci-varius-mi-sapien-vestibulum-Kp5 {
  margin-bottom: 0.1rem;
  max-width: 88.2rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .auto-group-t2jb-kU9 .group-14758-zG1 .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-MEy {
  max-width: 77.9rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #414141;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .auto-group-t2jb-kU9 .group-14758-zG1 .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-MEy .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-MEy-sub-0 {
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .auto-group-t2jb-kU9 .group-14758-zG1 .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-MEy .lorem-ipsum-dolor-sit-amet-consectetur-consequat-facilisis-arcu-fermentum-enim-venenatis-quis-tincidunt-dignissim-read-more-MEy-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #f26440;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .auto-group-t2jb-kU9 .line-20-s6q {
  width: 32.0006rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .auto-group-snmo-27j .frame-14765-AQH .group-14764-QfB .rectangle-18818-R8M {
  margin-top: 0.2rem;
  width: 62.5rem;
  height: 48.9rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-18818-bg-yay.png');
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD {
  box-sizing: border-box;
  padding: 4.8rem 9.9rem 2.5rem 9.8rem;
  width: 100%;
  height: 33.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 20.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm {
  box-sizing: border-box;
  padding: 2.6rem 13.9rem 2.6rem 0rem;
  height: 100%;
  display: flex;
  column-gap: 13.7rem;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .lorem-ipsum-dolor-sit-amet-consectetur-magna-integer-enim-vitae-vulputate-eu-vitae-tristique-HZs {
  max-width: 23.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0028rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14588-NrD {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14588-NrD .general-XUD {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.004rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14588-NrD .about-us-Ff7 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14588-NrD .pricing-nuw {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14588-NrD .contact-us-iYh {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14588-NrD .courses-Sjb {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14589-mG5 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14589-mG5 .policies-udB {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.004rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14589-mG5 .security-safeguards-z8q {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14589-mG5 .terms-of-service-JQR {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14589-mG5 .privacy-qQM {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14589-mG5 .accessibility-NfB {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14590-WmP {
  margin: 0.3rem 0;
  height: calc(100% - 0.6rem);
  row-gap: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14590-WmP .get-in-touch-pGH {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.004rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14590-WmP .follow-us-on-social-media-and-stay-updated-with-the-latest-information-about-our-services-MGD {
  margin-left: 0.1rem;
  max-width: 23.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14590-WmP .auto-group-3w7s-F6h {
  display: flex;
  column-gap: 1.3rem;
  align-items: center;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14590-WmP .auto-group-3w7s-F6h .group-14586-m53 {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14590-WmP .auto-group-3w7s-F6h .group-14584-VFw {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14590-WmP .auto-group-3w7s-F6h .group-14585-2Fs {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .auto-group-eawb-Ztm .group-14590-WmP .auto-group-3w7s-F6h .group-14587-N4q {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .group-14592-hso {
  width: 28.4rem;
  height: 100%;
  border-radius: 0.6624rem;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .group-14592-hso .subscribe-to-our-lorem-FPX {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.75;
  letter-spacing: -0.004rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.services-hAh .group-14593-upD .frame-14593-dVK .group-14592-hso .lorem-ipsum-dolor-sit-amet-consectetur-velit-enim-est-urna-est-massa-cras-sed-varius-convallis-netus-aliquet-duis-ut-xoj {
  margin: 0rem 0rem 1.9rem 0.8rem;
  max-width: 26.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.003rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.services-hAh .group-14593-upD .frame-14593-dVK .group-14592-hso .auto-group-lcyr-DUm {
  margin-right: 0.8rem;
  box-sizing: border-box;
  padding-left: 1.1rem;
  width: calc(100% - 0.8rem);
  height: 4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.0552rem 0.828rem rgba(0, 0, 0, 0.150000006);
  background-color: #ffffff;
  border-radius: 0.6624rem;
}
.services-hAh .group-14593-upD .frame-14593-dVK .group-14592-hso .auto-group-lcyr-DUm .enter-your-mail-L3b {
  margin: 0.1rem 7.1rem 0rem 0rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 0.8674285071;
  letter-spacing: -0.0034rem;
  color: #ed483e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .frame-14593-dVK .group-14592-hso .auto-group-lcyr-DUm .auto-group-xwku-Rqj {
  width: 8.8rem;
  height: 100%;
  display: flex;
  font-size: 0.9936rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.0024rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f26440;
  border-radius: 0.6624rem;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .group-14470-3MK {
  margin: 0rem 60rem 0rem 50.2rem;
  width: calc(100% - 110.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .group-14470-3MK .lorem-all-right-deserved-ARw {
  margin: 0rem 0rem 0.8rem 23.8rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.024rem;
  color: #bdb9b9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.services-hAh .group-14593-upD .group-14470-3MK .la-copyright-41X {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
